.modal-backdrop{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.mask-layer {
    background-color: transparent;
}
.mask-btn-start {
    display: flex;
    justify-content: center;
}

.mask-btn{
    margin-bottom: 20px;
}

.link-btn {
    color: aliceblue;
}
.start-beginning{
    background-color: rgb(46, 124, 148);
    color: aliceblue;
    width: 20%;
}
.mask-title {
    color: aliceblue;
    margin-bottom: 77px;
    text-align: center;
    font-size: 64px;
}